
@{
    ViewBag.Title = "Çizgi Film";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<div class="portlet-widgets">
    <button class="btn btn-default" onclick="window.location.href = '/CizgiFilm/Listeleme';">Çizgi Film Listeleme</button>
    <br /><br />
    <button class="btn btn-default" onclick="window.location.href = '/CizgiFilm/CizgiFilmForm';">Çizgi Film Ekleme</button>
    <br /><br />
    <button class="btn btn-default" onclick="window.location.href = '/CizgiFilm/BolumForm';">Çizgi Filme Bölüm Ekleme</button>
</div>