
@{
    ViewBag.Title = "Dini Dizi İşlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<div class="portlet-widgets">
    <button class="btn btn-default" onclick="window.location.href = '/DiniDizi/Listeleme';">Dizi Listeleme</button>
    <br /><br />
    <button class="btn btn-default" onclick="window.location.href = '/DiniDizi/DiziForm';">Dizi Ekleme</button>
    <br /><br />
    <button class="btn btn-default" onclick="window.location.href = '/DiniDizi/BolumForm';">Diziye Bölüm Ekleme</button>
</div>

