
@{
    ViewBag.Title = "Film İşlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<div class="portlet-widgets">
    <button class="btn btn-default" onclick="window.location.href = '/Film/Listeleme';">Film Listeleme</button>
    <br /><br />
    <button class="btn btn-default" onclick="window.location.href = '/Film/KayitFormu';">Film Ekleme</button>
</div>
