
@{
    ViewBag.Title = "PageError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /> <br /> <br /> <br />
<center>
    <h2>Sayfa bulunamadı...</h2>
    <div>
        Hata Kodu : @Response.StatusCode
    </div>
    <div>
        Hata Sebebi : @ViewBag.Kaynak
    </div>
</center>
